@model EmployeeManager.Application.ViewModels.EmployeeVm;
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="h1 p-5">Adding Employee form</h1>
<form asp-action="CreateEmployee">
    <table class="table">
        <tr>
            <th><label asp-for="Name">Name: </label></th>
            <td><input class="form-control" type="text" asp-for="Name" /></td>
        </tr>
        <tr>
            <th><label asp-for="Surname">Surname: </label></th>
            <td><input class="form-control" type="text" asp-for="Surname" /></td>
        </tr>
        <tr>
            <th><label asp-for="DateOfBirdth">Date of birdth: </label></th>
            <td><input class="form-control" type="date" asp-for="DateOfBirdth" value="2000-01-01" /></td>
        </tr>
        <tr>
            <th><label asp-for="Address.City">City: </label></th>
            <td><input class="form-control" type="text" asp-for="Address.City" /></td>
        </tr>
        <tr>
            <th><label asp-for="Address.Street">Street: </label></th>
            <td><input class="form-control" type="text" asp-for="Address.Street" /></td>
        </tr>
        <tr>
            <th><label asp-for="Address.HouseNumber">House number: </label></th>
            <td><input class="form-control" type="text" asp-for="Address.HouseNumber" /></td>
        </tr>
        <tr>
            <th><label asp-for="Address.PostalCode">Postal code: </label></th>
            <td><input class="form-control" type="text" asp-for="Address.PostalCode" /></td>
        </tr>
        <tr>
            <th><label asp-for="Education">Education: </label></th>
            <td><input class="form-control" type="text" asp-for="Education" /></td>
        </tr>
        <tr>
            <th> <label asp-for="Profession">Profession: </label></th>
            <td><input class="form-control" type="text" asp-for="Profession" /></td>
        </tr>
        <tr>
            <th><label asp-for="Position">Position: </label></th>
            <td> <input class="form-control" type="text" asp-for="Position" /></td>
        </tr>
        <tr>
            <th><label asp-for="Contact.Email">Email: </label></th>
            <td> <input class="form-control" type="text" asp-for="Contact.Email" /></td>
        </tr>
        <tr>
            <th><label asp-for="Contact.TelephoneNumber">Telephone number: </label></th>
            <td><input class="form-control" type="number" asp-for="Contact.TelephoneNumber" /></td>
        </tr>
        <tr>
            <th></th>
            <td>
                <button class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary ml-2">Cancel</button>
            </td>
        </tr>

    </table>


</form>