@model EmployeeManager.Application.ViewModels.EmployeeVm;
@{
    ViewData["Title"] = "Add new";
}

<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Add New </h4>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" asp-action="CreateEmployee">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Surname" class="control-label"></label>
                            <input asp-for="Surname" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DateOfBirdth" class="control-label">Date of birdth</label>
                            <input type="date" asp-for="DateOfBirdth" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Address.City" class="control-label"></label>
                            <input asp-for="Address.City" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Address.Street" class="control-label"></label>
                            <input asp-for="Address.Street" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Address.HouseNumber" class="control-label">House number</label>
                            <input asp-for="Address.HouseNumber" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Address.PostalCode" class="control-label">Postal code</label>
                            <input asp-for="Address.PostalCode" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Profession" class="control-label"></label>
                            <input asp-for="Profession" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Education" class="control-label"></label>
                            <input asp-for="Education" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Position" class="control-label"></label>
                            <input asp-for="Position" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Contact.Email" class="control-label"></label>
                            <input asp-for="Contact.Email" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Contact.TelephoneNumber" class="control-label">Telephone number</label>
                            <input asp-for="Contact.TelephoneNumber" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Salary" class="control-label"></label>
                            <input asp-for="Salary" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ProfileImage" class="control-label">Profile image</label>
                            <div class="custom-file">
                                <input asp-for="ProfileImage" class="form-control-file" id="customFile">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                    <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@*<h1 class="h1 p-5">Adding Employee form</h1>
<form enctype="multipart/form-data" asp-action="CreateEmployee">
    <table class="table">
        <tr>
            <th><label asp-for="Name">Name: </label></th>
            <td><input class="form-control" type="text" asp-for="Name" /></td>
        </tr>
        <tr>
            <th><label asp-for="Surname">Surname: </label></th>
            <td><input class="form-control" type="text" asp-for="Surname" /></td>
        </tr>
        <tr>
            <th><label asp-for="DateOfBirdth">Date of birdth: </label></th>
            <td><input class="form-control" type="date" asp-for="DateOfBirdth" value="2000-01-01" /></td>
        </tr>
        <tr>
            <th><label asp-for="Address.City">City: </label></th>
            <td><input class="form-control" type="text" asp-for="Address.City" /></td>
        </tr>
        <tr>
            <th><label asp-for="Address.Street">Street: </label></th>
            <td><input class="form-control" type="text" asp-for="Address.Street" /></td>
        </tr>
        <tr>
            <th><label asp-for="Address.HouseNumber">House number: </label></th>
            <td><input class="form-control" type="text" asp-for="Address.HouseNumber" /></td>
        </tr>
        <tr>
            <th><label asp-for="Address.PostalCode">Postal code: </label></th>
            <td><input class="form-control" type="text" asp-for="Address.PostalCode" /></td>
        </tr>
        <tr>
            <th><label asp-for="Education">Education: </label></th>
            <td><input class="form-control" type="text" asp-for="Education" /></td>
        </tr>
        <tr>
            <th> <label asp-for="Profession">Profession: </label></th>
            <td><input class="form-control" type="text" asp-for="Profession" /></td>
        </tr>
        <tr>
            <th><label asp-for="Position">Position: </label></th>
            <td> <input class="form-control" type="text" asp-for="Position" /></td>
        </tr>
        <tr>
            <th><label asp-for="Contact.Email">Email: </label></th>
            <td> <input class="form-control" type="text" asp-for="Contact.Email" /></td>
        </tr>
        <tr>
            <th><label asp-for="Contact.TelephoneNumber">Telephone number: </label></th>
            <td><input class="form-control" type="number" asp-for="Contact.TelephoneNumber" /></td>
        </tr>
        <tr>
            <th><label asp-for="ProfileImage">Image: </label></th>
            <td><input class="custom-file-input" asp-for="ProfileImage" id="customFile" /></td>
        </tr>
        <tr>
                
        

            <th></th>
            <td>
                <div class="form-group">
                    <label asp-for="ProfileImage" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="ProfileImage" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">
                            
                        </label>
                    </div>
                </div>

                <button class="btn btn-primary">Save</button>
                <a asp-action="Index" class="btn btn-secondary ml-2">Cancel</a>
            </td>
        </tr>

    </table>


</form>*@