@model EmployeeManager.Application.ViewModels.EmployeeVm;
@{
    ViewData["Title"] = "Employee Manager";

    var dateOfBirdthString = Model.DateOfBirdth.Year + "-" + Model.DateOfBirdth.Month + "-" + Model.DateOfBirdth.Day;
    if (Model.DateOfBirdth.Month < 10 && Model.DateOfBirdth.Day < 10) dateOfBirdthString = Model.DateOfBirdth.Year + "-0" + Model.DateOfBirdth.Month + "-0" + Model.DateOfBirdth.Day;
    if (Model.DateOfBirdth.Month < 10 && Model.DateOfBirdth.Day > 10) dateOfBirdthString = Model.DateOfBirdth.Year + "-0" + Model.DateOfBirdth.Month + "-" + Model.DateOfBirdth.Day;
    if (Model.DateOfBirdth.Day < 10 && Model.DateOfBirdth.Month > 10) dateOfBirdthString = Model.DateOfBirdth.Year + "-" + Model.DateOfBirdth.Month + "-0" + Model.DateOfBirdth.Day;
}

<form enctype="multipart/form-data" asp-action="EditEmployee" asp-route-id="@Model.Id" asp-route-contactId="@Model.Contact.Id" asp-route-addressId="@Model.Addresses[0].Id">
    <div class="row">
        <div class="col-md-6">
            <img class="card-img" data-image src="~/images/@Model.ProfilePicture" asp-append-version="true" />
            <div class="col-md-6">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" asp-for="ProfileImage" class="form-control-file mt-3" id="customFile">
                        <label class="custom-file-label mt-3" for="customFile">Change image</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label"></label>
                        <input asp-for="Surname" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DateOfBirdth" class="control-label">Date of birdth</label>
                        <input type="date" asp-for="DateOfBirdth" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Address.City" class="control-label"></label>
                        <input asp-for="Addresses[0].City" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Address.Street" class="control-label"></label>
                        <input asp-for="Addresses[0].Street" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Address.HouseNumber" class="control-label">House number</label>
                        <input asp-for="Addresses[0].HouseNumber" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Address.PostalCode" class="control-label">Postal code</label>
                        <input asp-for="Addresses[0].PostalCode" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Profession" class="control-label"></label>
                        <input asp-for="Profession" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Education" class="control-label"></label>
                        <input asp-for="Education" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Position" class="control-label"></label>
                        <input asp-for="Position" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Contact.Email" class="control-label"></label>
                        <input asp-for="Contact.Email" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Contact.TelephoneNumber" class="control-label">Telephone number</label>
                        <input asp-for="Contact.TelephoneNumber" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Salary" class="control-label"></label>
                        <input asp-for="Salary" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="Index" class="btn btn-secondary ml-2">Cancel</a>
            </div>

        </div>
    </div>
</form>


   <script>
       const dataImage = document.querySelector('[data-image]');
       const imageInput = document.getElementById('customFile');

       imageInput.addEventListener('change', () => {

           dataImage.setAttribute('src', URL.createObjectURL(imageInput.files[0]));

       })

   </script>