@{
    ViewData["Title"] = "Admin Panel";
}


<h2 class="modal-title">Admin Panel</h2>

<ul class="list-group">
    <li class="list-group-item-action">
        <a asp-action="SendEmail">Send email</a>
    </li>
    <li class="list-group-item-action">
        <a asp-action="Information">Information about your Employees</a>
    </li>
    <li class="list-group-item-action">
        <a asp-action="SalaryIncrease">SalaryIncrease</a>
    </li>

</ul>